* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: black;
}

html, body {
  height: 100%;
  width: 100%;
}

.box {
  height: 200px;
  width: 200px;
  background-color: pink;
}

.page1, .page2, .page3 {
  height: 200px;
  width: 200px;
  background-color: red;
}
